@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
} 


body {
  background: #2a2219;
  color: #f5f3ef;
  font-family: ui-monospace, SFMono-Regular, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

::selection {
  background: #fc8a58;
  color: #2a2219;
}